.btn_head_top {
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 2px #5f5f5f;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.btn_head_top .active {
    background: #E67D21 !important;
}

.btn_head_top a {
    background: #0e7ab2;
    color: #fff;
    text-transform: uppercase;
    /* font-family: 'Roboto-Regular'; */
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    min-height: 65px;
    font-size: 13px;
    font-weight: 700;
}
.btn_head_top {
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 2px #5f5f5f;
    margin-bottom: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content_left_ykien h2 {
    display: block;
    text-align: center;
    font-size: 12px;
    /*font-family: 'Roboto-Regular';*/
    color: #fff;
    padding: 11px 0;
    background: #0089cf;
    margin-bottom: 5px;
}
#menu_tailieu .active {
    background: #E67D21 !important;
}

.content_left_ykien ul li {
    margin-bottom: 2px;
    background: #b3d9e1;
    padding: 6px;
}
.content_left_ykien ul li {
    display: flex;
    flex-wrap: row;
}
.content_left_ykien ul li img {
    width: 40px;
}

.content_left_ykien ul li img {
    width: 32px;
    height: 32px;
    margin-right: 6px;
}
.sub_docnhieu {
    overflow: hidden;
}
.content_left_ykien ul li .sub_docnhieu h4 a {
    display: block;
    font-size: 12px;
    /*font-family: 'Roboto-Bold';*/
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 5px;
}
.content_mid {
    padding: 13px 11px;
    box-shadow: 0 0 5px #5f5f5f;
    border-radius: 5px;
    background-color: #fff;
}
.content_mid .text_content_mid {
    /*font-family: 'Roboto-Regular';*/
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    color: #333;
    min-height: 280px;
    /*overflow: auto;*/
    /*max-height: 280px;*/
}
.name_ykien {
    background: #0e7ab2;
    padding: 15px;
    border-radius: 7px;
}
.name_ykien ul li {
    /*font-family: 'Roboto-Regular';*/
    font-size: 14px;
    color: #fff;
    line-height: 20px;
}
.name_ykien ul li span {
    /*font-family: 'Roboto-Bold';*/
}
.tailieu_dinhkem h2 {
    font-size: 14px;
    /*font-family: 'Roboto-Bold';*/
    color: #fff;
    text-align: center;
    background: #0e7ab2;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.ct_tailieu {
    padding: 16px 30px;
    box-shadow: 0 0 2px #5f5f5f;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.ct_tailieu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ct_tailieu img {
    margin-right: 20px;
    height: 53px;
    margin-top: 10px;
}
.ct_tailieu ul {
    width: 52%;
}
.ct_tailieu ul li {
    font-size: 14px;
    /*font-family: 'Roboto-Regular';*/
    width: 100%;
    margin-bottom: 5px;
}
.ct_tailieu ul li span {
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    background: #4e9200;
    float: right;
}
.btn_bottom {
    background: #a989f7;
    color: #fff;
    /*font-family: 'Roboto-Regular';*/
    font-size: 14px;
    padding: 17px 10px;
    text-align: center;
    text-transform: uppercase;
}
.btn_bottom {
    background: #a989f7;
    color: #fff;
    /*font-family: 'Roboto-Regular';*/
    font-size: 14px;
    padding: 17px 10px;
    text-align: center;
    text-transform: uppercase;
}
.ct_tailieu ul li img {
    margin-right: 5px;
    margin-top: -5px;
    height: 12px;
}



.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input {
    /* width: 258px; */
    height: 38px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}
.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }
#menu_tailieu{
    height: 447px;
    overflow: auto;
}
.header-kn-so {
    background: url(../img/header_kn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0px;
}
.menu-main h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    /*margin: 25px 10px;*/
    margin-right: 255px;
}
article#body_home{
    background: url(../../nhaquanly/img/bg_dn.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e8e8e8;
}
.content_mid .text_content_mid {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    color: #333;
}
.content_mid2 {
    padding: 13px 11px;
    /* box-shadow: 0 0 5px #5f5f5f; */
    border-radius: 5px;
}
.content_mid .text_content_mid {
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-style: italic;
    line-height: 20px;
    color: #333;
}
.system h2 {
    background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
    border: transparent;
    border: transparent;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    text-align: center;
}
.content_form1 img {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin: 15px;
}
.phone > a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 9px;
    background: rgb(77, 77, 255);
    color: #fff;
    margin: 13px 0px;
}
.modal-content {
    /* background: rgba(51, 51, 51, 0.68); */
    background: transparent!important;
    border: none!important;
    box-shadow: none!important;
}
.modal-header {
    border-bottom: transparent;
}
.modal-body {
    font-size: 30px;
    text-align: center;
}
.support-hotline .div_title {
    position: relative;
    z-index: 20;
    pointer-events: auto;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translate(0px,0);
    -moz-transform: translate(0px,0);
    -o-transform: translate(0px,0);
    -ms-transform: translate(0px,0);
    transform: translate(0px,0);
}


.support-hotline .div_title span.icon {
    width: 200px;
    height: 200px;
    position: relative;
    display: block;
    margin: auto;
}
.support-hotline .div_title i {
    position: relative;
    display: block;
    width: 105%;
    height: 100%;
    padding-top: 80px;
    background: #f20700;
    font-size: 125px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.modal-footer {
    text-align: center;
    border-top: transparent;
}
.modal-footer button {
    background: #ff0000;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 15px;
    font-size: 22px;
    border-radius: 12px;
    margin-top: 100px;
}
.modal-footer button img {
    width: 100%;
    max-width: 50px;
    height: auto;
    margin-right: 15px;
}
.row_7 {
    border: 1px solid #fff;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
}
.box_mt_gif{
    margin-top: 70px;
}
/*  mũi tên -----> */
.wrapper {
  margin:0 auto;
  width: 280px;
height: 115px;
  position: relative;
      margin-top: 45px;
}

.wrapper span{
  display: block;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 0px;
  height: 90px;
  position: absolute;
  left: -70px;


}

.wrapper span span{
  -webkit-clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
background: #efbd4a;
  display: block;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  margin: auto;
animation: animate-arrow-2 1s ease-in-out infinite 0.1s;

}

.wrapper .arrow:before {
  content:"";
  -webkit-clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
background: #efbd4a;
  display: block;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: -65px;
  height: 90px;
  position: absolute;
  opacity: 1;
  animation: animate-arrow-1 1s ease-in-out infinite;
}

.wrapper .arrow:after {
  content:"";
  -webkit-clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
clip-path: polygon(35% 0, 100% 50%, 35% 100%, 0% 100%, 65% 50%, 0% 0%);
background: #efbd4a;
  display: block;
  width: 60px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 65px;
  height: 90px;
  position: absolute;
  opacity: 0.3;
animation: animate-arrow-3 1s ease-in-out infinite;
}

@keyframes animate-arrow-1 {
  0%{transform:translateX(-100px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 1;}
}
@keyframes animate-arrow-2 {
  0%{transform:translateX(-60px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.5;}
}
@keyframes animate-arrow-3 {
  0%{transform:translateX(-20px);opacity: 0;}
  70%,100%{transform:translateX(0px);opacity: 0.3;}
}
.modal-backdrop.in{
    opacity: .9;
}