 .btn_page_control li {
    display: inline-block;
    margin-right: 20px;
}
  .btn_page_control a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    background: #5A55A3;
    height: 55px;
    line-height: 55px;
    padding: 0 30px;
   /* font-size: 16px;
    background: #5A55A3;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;*/
    font-weight: bold;
    position: relative;
    text-transform: uppercase;
}
.btn_page_control a:before{
  pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
        top: calc(50% - 28px);
    right: -20px;
    border-width: 27px 0 27px 20px;
    border-color: transparent transparent transparent #5A55A3;
}
.btn_page_control li a:after {
    pointer-events: none;
    position: absolute;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    top: calc(50% - 28px);
    left: 0px;
    border-width: 27px 0 27px 20px;
    border-color: transparent transparent transparent #fff;
}
.btn_page_control li:first-child a:after {
  display: none;
}

@media (min-width:992px) and (max-width:1199px) /* md*/{
    .btn_page_control a {
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:991px) /* sm*/{
    .btn_page_control a {
        font-size: 17px;
        padding: 0 20px;
    }
}

  .nav-link {
    background: rgb(6, 6, 159);
    color: white;
    text-transform: uppercase;
  }

  .nav-tabs {
    border-bottom: 1px solid orange !important;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
  }

  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    background: #041221f7 !important;
    color: white !important;
  }

  .card:hover {
    transition: 0.3;
    transform: scale(1.01);
    cursor: pointer;
  }

  .card-header {
    height: 40px !important;
  }

  .card-header h4 {
    text-align: center;
    text-transform: uppercase;
  }

  .card-content {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .card-content h5 {
    color: green;
  }

  .card-content h3 {
    color: orange;
  }

  .amcharts-chart-div a {
    display: none !important;
  }

  .tab-content {
    height: 100% !important;
  }

  .card img:hover {
    transition: 60;
    transform: rotateY(180deg);
  }

  .style-baocaotaichinh {
    cursor: pointer;
  }

  .style-baocaotaichinh ul li h5 {
    color: orange;
  }

  .style-baocaotaichinh li {
    padding: 10px;
    color: white;
  }

  .style-baocaotaichinh li:hover {
    background: #ccc;
  }

  .style-baocaotaichinh .card-header h5 {
    text-transform: uppercase;
    text-align: center;
  }

  hr {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
  }

  article {
    color: white;
  }

  .btn-default {
    border: 1px solid #ddd;
  }

  #table-tonkho {
    width: 100%;
  }

  #table-tonkho,
  #table-tonkho th,
  #table-tonkho td {
    border: solid 1px #ccc;
    padding: 10px;
    text-align: center;
  }

  #table-tonkho th,
  #table-tonkho td {
    color: white;
  }

  #table-tonkho th {
    background: #3366cc;
  }

  #table-tonkho tr:hover {
    background: #669999;
  }

  .canvasjs-chart-credit {
    display: none;
  }

  .nav-item {
    margin-right: 1px;
  }

  .breadcrum>ul>li {
    background: white;
  }

  .breadcrum>ul>li>a {
    color: black;
  }

  #table_thuochong,
  #table_thuocsaphethan {
    width: 100%;
    display: block;
  }

  #table_thuochong th,
  #table_thuochong td,
  #table_thuocsaphethanth th,
  #table_thuocsaphethan td {
    border: solid 1px #ccc;
    padding: 5px;
  }

  #table_thuochong th,
  #table_thuocsaphethan th {
    background: #3366cc;
    color: white;
    height: 60px;
    text-align: center;
  }

  #table_thuochong td,
  #table_thuocsaphethan td {
    height: 70px;
  }

  #table_thuochong thead,
  #table_thuocsaphethan thead {
    display: block;
    width: 98%;
  }

  #table_thuochong tbody tr:hover {
    background: #ccc;
  }

  #table_thuocsaphethan tbody tr:hover {
    background: #ccc;
  }

  #table_thuochong tbody,
  #table_thuocsaphethan tbody {
    height: 300px;
    overflow-y: scroll;
    display: block;
  }

  #table_thuochong tbody tr,
  #table_thuocsaphethan tbody tr {
    display: flex;
  }

  #table_thuochong th:nth-child(1),
  #table_thuochong td:nth-child(1) {
    width: 5%;
  }

  #table_thuochong th:nth-child(2),
  #table_thuochong td:nth-child(2) {
    width: 12%;
  }

  #table_thuochong th:nth-child(3),
  #table_thuochong td:nth-child(3) {
    width: 13%;
  }

  #table_thuochong th:nth-child(4),
  #table_thuochong td:nth-child(4) {
    width: 10%;
  }

  #table_thuochong th:nth-child(5),
  #table_thuochong td:nth-child(5) {
    width: 15%;
  }

  #table_thuochong th:nth-child(6),
  #table_thuochong td:nth-child(6) {
    width: 10%;
  }

  #table_thuochong th:nth-child(7),
  #table_thuochong td:nth-child(7) {
    width: 10%;
  }

  #table_thuochong th:nth-child(8),
  #table_thuochong td:nth-child(8) {
    width: 8%;
  }

  #table_thuochong th:nth-child(9),
  #table_thuochong td:nth-child(9) {
    width: 8%;
  }

  #table_thuochong th:nth-child(10),
  #table_thuochong td:nth-child(10) {
    width: 9%;
  }
